ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ac9494;

    
    
}
li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

p {
	font-family: Georgia, "Times New Roman", Times serif;
	font-size: 1.2em;
}

p.important {
	font-size: 1.5em;
	font-weight: 900;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
	color: purple;
}

.typewriter {
	font-family: " Courier New", Courier, monospace;
}

.new {
	font-style: italicizes;
}
.standout {
	color: #cc0000;
}

p.spacey {
	letter-spacing: 1em;
	word-spacing: 1em;
	line-height: 2.4em;
}

h3 {
	text-align: center;
}

p.pretty {
	text-align: justify;
}
p.tabbed {
	text-indent: 1em;
}

blockquote {
	font-size: 0.8em;
	color: darkslateblue;
}

p.offset {
	margin: 2em 4em 2em 4em;
}

.pearls {
	border: 3px groove deeppink;
	text-align: center;
	padding: 0.1em 0.2em 0.3em 0.3em;
}

p.mid {
	text-align: center;
}

h2#warm {
	color: orangered;
}

div#nice p {
   font-size: 150%;
	margin: 0 3em 0 3em;
	font-family: Arial, Helvetica, sans-serif;
}

div#main {
	margin: 0 3em 0 3em;
	font-family: Arial, Helvetica, sans-serif;
}

div#kiss,
:before {
	padding: 0.5em 1em 0.5em 1em;
	float: right;
}

img.has-own-line {
	display: block;
	margin-left: 10em;
}

.float-container {
	margin-top: 12px;
	float: left;
	box-sizing: border-box;
	border: 3px solid #001fcc;
	padding: 32px 16px;
}

.float-child {
	float: left;
	box-sizing: border-box;
	padding: 32px 16px;
	border: 3px solid rgb(0, 255, 21);
}

img.normal {
	display: block;
}

img.smack-in-the-middle {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.wrap-around-the-right-side {
}

img.inset {
	display: block;
	margin-left: 5em;
}

img.smack-in-the-middle {
	display: block;
	margin: 0 auto 0 auto;
}

img.floats {
	float: left;
	margin-right: 1.5em;
}
/* this wraps text around an image*/

p.clr {
	clear: both;
}

a {
	color: grey;
}

a:hover {
	color: orange;
}

.rounded {
	border-radius: 10% / 50%;
}

/* the list style image styles the bullets as an image(butterflies)*/
ul {
    /*list-style-image: url("http://www.asmarterwaytolearn.com/icon_butterfly.png");*/
	list-style-position: inside;
    margin: 0 1.5em 0 1.5em;
    list-style-type: square;
}

ol {
    margin: 1 1.5em 0 1.5em;
}
li {
    margin-bottom: .25em;
}


 th, td {
    
    border: 2px solid rgb(85, 73, 73);
    padding:  .55em ;
}

th {
    color: green;
}
table {
    border-collapse: collapse;
}


table.width {
    width: 25%;
    text-align: center;
}

tr.odd {
    background-color: lavender;
}



/* .grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	background-color: aqua;
	padding: 10px;
}

.grid-container > div {
	background-color: aliceblue;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
} */
